body {
  line-height: 1;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}

/*  start header style */

header {
  width: 100%;
  height: 30px;
  flex-flow: row;
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 10px;
}

header>nav {
  width: 40px;
  height: 40px;
  flex: 1 1 2%;
}

header nav img {
  padding: 10px;
}

header>#logo {
  width: 40px;
  height: 40px;
  flex: 1 1 28%;
}

header #logo img {
  padding: 9px;
}

header>#search_container {
  flex: 1 1 35%;
}

header>#option_buttons {
  width: 40px;
  height: 40px;
  flex: 1 1 35%;
}

#logo {
  display: inline;
}

#option_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#option_buttons img {
  width: 25px;
}

#option_buttons>div {
  margin-right: 1em;
}

#profile {
  border-radius: 50px;
  background-color: hotpink;
  height: 30px;
  width: 30px;
}

#search_container {
  flex-flow: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search_container>input {
  flex: 1 1 90%;
  width: 35em;
  border: alicebluenone;
  border: 1px 1px 1px 1px solid rgba(0, 0, 0, 0.233);
  text-indent: 0.5em;
  border-left: 1px solid rgba(0, 0, 0, 0.233);
  border-top: 1px solid rgba(0, 0, 0, 0.233);
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  border-right: 1px solid rgba(0, 0, 0, 0.233);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-indent: 1.5em;
  line-height: 25px;
}

#search_container>img {
  flex: 1 1 10%;
  height: 2em;
  cursor: pointer;
  width: 10px;
  height: 27px;
  border-top: 1px solid rgba(0, 0, 0, 0.233);
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  border-right: 1px solid rgba(0, 0, 0, 0.233);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 25px;
  background-color: rgb(248, 248, 248);
}

#profile {
  background-image: url(../img/trump.png);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: 100px 0px 0px 15px;
  background-position-x: center;
  background-position-y: center;
}

/*  end header style */

#content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#video-container {
  width: 69%;
  height: auto;
}

#video-container>#frame-video {
  padding: 0px 20px 20px 60px;
}

#frame-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-container>#title-video-container {
  padding: 0px 20px 20px 60px;
}

#video {
  width: 100%;
  height: 640px;
}

#channel-details {
  margin: 0px 20px 20px 60px;
}

#channel-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}

#channel-description {
  margin-left: 60px;
  font-size: 16px;
}

aside {
  width: 31%;
  height: 0px;
}

aside>#suggestions-videos {
  width: 75%;
}

#comments-container {
  width: 69%;
  height: 500px;
}

#comments-container>#comments-left {
  height: 400px;
  flex: 1 1 100%;
}

#comments-left {
  display: flex;
  flex-flow: column;
  margin: 0px 20px 0px 60px;
}

#comments-left>#comments-counter {
  height: 150px;
  width: 100%;
}

#comments-left>#comments-input {
  height: 150px;
  width: 100%;
}

#comments-left>#comments-details {
  height: 750px;
  width: 100%;
}

#comments-counter {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#count-comments {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#sort-comments {
  padding-left: 32px;
}

#comments-input {
  display: flex;
  flex-flow: row;
}

.input-comment-container {
  width: 100%;
  margin-left: 12px;
}

.input-comment {
  border: none;
  border-bottom: 1px solid rgba(125, 125, 129, 0.5);
  padding: 8px 0px;
  top: 0px;
  width: 100%;
}

.title-video {
  font-weight: 400;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#profile_image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-box {
  display: flex;
  flex-flow: row;
  padding: 12px 0px;
}

.main-container-comment {
  padding-left: 12px;
  height: auto;
}

.text-render-comment {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.action-buttons {
  display: flex;
  flex-flow: row;
}

.opt-thumbs {
  padding-right: 6px;
}

#info_section,
#header_aside,
#header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header_container {
  margin: 12px 0px;
  flex-flow: row;
  display: flex;
  align-items: center;
}

#video-options {
  flex-flow: row;
  display: flex;
  flex: 3 1 65%;
  justify-content: flex-end;
}

#resume {
  font-size: 14px;
  font-weight: bold;
  flex: 1 1 35%;
}

#header_aside {
  padding: 1px;
}

.title_section_autoplay {
  font-size: 16px;
  font-weight: bold;
  padding: 7px 4px;
  margin: 0px 4px;
  float: left;
}

.text_mini_autoplay {
  color: grey;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text_mini_autoplay i {
  padding-left: 10px;
}

.title_section {
  font-size: 16px;
  font-weight: bold;
  padding: 7px 4px;
  margin: 0px 4px;
  float: left;
}

.text_mini {
  color: grey;
  font-size: 12px;
  padding-top: 2px;
}

.space_after {
  padding-bottom: 12px;
}

#btn-subscribe {
  background-color: rgb(167, 10, 10);
  color: white;
  padding: 8px 12px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}

.video_mini {
  flex-flow: row;
  display: flex;
  height: 95px;
  padding: 7px;
}

.video_mini>.img_mini {
  flex: 1 1 45%;
}

.video_mini>.resume_mini {
  flex: 1 1 55%;
  padding-left: 5px;
}

.thumbnail {
  background-image: url(../img/Best-free-thumbnail-maker-online.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.text_grey {
  color: grey;
}

.resume_mini {
  padding-left: 3px;
}

.text_autoplay {
  color: #9e9898;
  font-size: 12px;
  font-weight: 800;
  margin-left: 13px;
}

.text-comment-option {
  font-size: 14px;
  margin-left: 4px;
}

.title_mini {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

.resume_mini>.title_mini {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.separador {
  border-top: 1px solid rgba(125, 125, 129, 0.5);
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.line {
  border-width: 0.5em;
}

.circle-img {
  border-radius: 50%;
}

.opt-vid-social {
  flex-flow: row;
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.author_mini {
  margin-bottom: 0px;
}

.views_mini {
  margin-top: 0px;
}

@media all and (max-width:1015px) {
  #content {
    flex-flow: column;
  }
  #video-container {
    width: 100%;
  }
  aside {
    height: auto;
    width: 100%;
  }
  #comments-container {
    width: 100%;
  }
  #description-video {
    width: 100%;
  }
  aside {
    margin: 0px 20px 0px 60px;
  }
  .img_mini {
    max-width: 168px;
    max-height: 94px;
  }
}